<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>一步学车后台管理主页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">

    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/pages/dashboard.css" rel="stylesheet">
    <link href="/css/dataTables.bootstrap.css" rel="stylesheet">


    <script src="/js/jquery-1.8.0.min.js"></script>
    <script src="/js/base.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/dora.backstage.js"></script>
    <script type="text/javascript" src="/js/angular.min.js"></script>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

    <![endif]-->
</head>
<script type="application/javascript">

    var ybxcApp = angular.module("yibuxuecheadmin",[]);

</script>
<body ng-app="yibuxuecheadmin">
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                        class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span> </a><a class="brand" href="index.html">一步驾校后台管理</a>
            <div class="nav-collapse">
                <ul class="nav pull-right">
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                                    class="icon-cog"></i> Account <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:;">Settings</a></li>
                            <li><a href="javascript:;">Help</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                                    class="icon-user"></i> 一步学车 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:;">Profile</a></li>
                            <li><a href="javascript:;">Logout</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-search pull-right">
                    <input type="text" class="search-query" placeholder="Search">
                </form>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!-- /container -->
    </div>
    <!-- /navbar-inner -->
</div>
<!-- /navbar -->
<div class="subnavbar">
    <div class="subnavbar-inner">
        <div class="container">
            <ul class="mainnav">
                <li class="active"><a href="#"><i class="icon-dashboard"></i><span>主页</span> </a> </li>
                <li><a href="/admin/manage/schoollsit2"><i class="icon-list-alt"></i><span>驾校管理 </span> </a> </li>
                <li><a href="#"><i class="icon-facetime-video"></i><span>报名管理</span> </a></li>
                <li><a href="#"><i class="icon-bar-chart"></i><span>商家管理</span> </a> </li>
                <li><a href="#"><i class="icon-code"></i><span>学院管理</span> </a> </li>
                <li><a href="/admin/manage/Ycodelist"><i class="icon-money"></i><span>Y码返利</span> </a> </li>
                <li><a href="/admin/manage/activtylist"><i class="icon-code"></i><span>活动管理</span> </a> </li>

                <!--<li class="dropdown"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-long-arrow-down"></i><span>Drops</span> <b class="caret"></b></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="icons.html">Icons</a></li>-->
                        <!--<li><a href="faq.html">FAQ</a></li>-->
                        <!--<li><a href="pricing.html">Pricing Plans</a></li>-->
                        <!--<li><a href="login.html">Login</a></li>-->
                        <!--<li><a href="signup.html">Signup</a></li>-->
                        <!--<li><a href="error.html">404</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
            </ul>
        </div>
        <!-- /container -->
    </div>
    <!-- /subnavbar-inner -->
</div>

<%-body %>
<!-- /main -->
<!-- /extra -->
<div class="footer">
    <div class="footer-inner">
        <div class="container">
            <div class="row">
                <div class="span12"> &copy; 2015 <a href="http://www.yibuxueche.com/">一步学车</a>. </div>
                <!-- /span12 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /footer-inner -->
</div>



</body>
</html>

