<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>一步学车后台管理主页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">

    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/pages/dashboard.css" rel="stylesheet">
    <link href="/css/dataTables.bootstrap.css" rel="stylesheet">
    <link href="/css/pages/faq.css" rel="stylesheet">

    <script src="/js/jquery-1.8.0.min.js"></script>
    <script src="/js/base.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/dora.backstage.js"></script>
    <script type="text/javascript" src="/js/angular.min.js"></script>
    <script src="/js/layer.js"></script>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

    <![endif]-->
</head>
<script type="application/javascript">

    var ybxcApp = angular.module("yibuxuecheadmin",[]);

</script>
<body ng-app="yibuxuecheadmin">
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                        class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span> </a><a class="brand" href="#">一步驾校后台管理</a>
            <div class="nav-collapse">
                <ul class="nav pull-right">
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                                    class="icon-cog"></i> 账号 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:;">设置</a></li>
                            <li><a href="javascript:;">帮助</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                                    class="icon-user"></i> <%=adminUserInfo.name%> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:;">个人信息</a></li>
                            <li><a href="/admin/logout">退出</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-search pull-right">
                    <input type="text" class="search-query" placeholder="搜索">
                </form>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!-- /container -->
    </div>
    <!-- /navbar-inner -->
</div>
<!-- /navbar -->
<div class="subnavbar">
    <div class="subnavbar-inner">
        <div class="container">
            <ul class="mainnav" id="menu">
                <li><a href="/admin/manage/main"><i class="icon-dashboard"></i><span>主页</span> </a> </li>
                <li><a href="/admin/manage/schoollsit"><i class="icon-list-alt"></i><span>驾校管理 </span> </a> </li>
                <li><a href="/admin/manage/recordlist"><i class="icon-list"></i><span>报名审核</span></a> </li>
                <!--<li><a href="/admin/manage/coachCheckList"><i class="icon-reorder"></i><span>教练审核</span></a> </li>-->

                <li><a href="/admin/manage/activtylist"><i class="icon-pinterest"></i><span>活动管理</span> </a> </li>
                <li><a href="/admin/manage/Ycodelist"><i class="icon-money"></i><span>Y码返利</span> </a> </li>
                <li><a href="/admin/manage/industrynewsList"><i class=" icon-comments-alt"></i><span>行业信息</span> </a> </li>
                <li><a href="/admin/manage/adminusermanger"><i class="icon-user"></i><span>用户管理</span> </a> </li>

                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-shopping-cart"></i><span>商城</span> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/manage/businessList">商家管理 </a> </li>
                        <li><a href="/admin/manage/productslist">商品管理</a></li>
                        <li><a href="#">商品订单</a></li>
                    </ul>
                </li>


                <li class="dropdown">
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-long-arrow-down"></i><span>Drops</span> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="icons.html">Icons</a></li>
                        <li><a href="faq.html">FAQ</a></li>
                        <li><a href="pricing.html">Pricing Plans</a></li>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="signup.html">Signup</a></li>
                        <li><a href="error.html">404</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /container -->
    </div>
    <!-- /subnavbar-inner -->
</div>

<%-body %>
<!-- /main -->
<!-- /extra -->
<div class="footer">
    <div class="footer-inner">
        <div class="container">
            <div class="row">
                <div class="span12"> &copy; 2015 <a href="http://www.yibuxueche.com/">一步学车</a>. </div>
                <!-- /span12 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /footer-inner -->
</div>

<script type="text/javascript">
    $("document").ready(function(){
        $("#menu li").click(function(){
            $("#menu li").removeClass("active");//首先移除全部的active
            $(this).addClass("active");//选中的添加acrive
        });
        var urlstr = location.href;
        //alert((urlstr + '/').indexOf($(this).attr('href')));
        var urlstatus=false;
        $("#menu a").each(function (index) {
            if ((urlstr + '/').indexOf($(this).attr('href')) > -1&&$(this).attr('href')!='') {
                // $(this).addClass('active');
                if (!urlstatus){
                    $("#menu li").eq(index).addClass('active');
                    urlstatus = true;}
            } else {
                if (!urlstatus){
                    $("#menu li").eq(index).removeClass('active');
                }
                //  $(this).removeClass('active');
            }
        });
        if (!urlstatus) {$("#menu li").eq(0).addClass('active'); }
    });

</script>


</body>
</html>

