body{
    font-family:'microsoft yahei', Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0 auto;
    background-color: #F5F5F5;
}

.header {
    padding-top: 17px;
    line-height: 64px;
    text-align: center;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0px;
    background-color: #db4437;
}

.header span {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 50px;
}

.main {
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    overflow: auto;
}

.score-block {
    padding: 15px;
}

.score-block .title {
    text-align: left;
}

.score-block .cell {
    text-align: left;
}

/*body样式*/
.main{
    width: 100%;
    height:auto;
}
.score-block{
    width:90%;
    height: 200px;
    margin: 0 auto;
    /*border:1px solid red;*/
}
.title{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: blanchedalmond;
    font-size: 20px;
    color: maroon;
    margin-bottom: 4px;
    text-indent: 100px;

}
/* .cell{
    width: 200px;
    height: 40px;
    line-height: 40px;
    background: blueviolet;
    margin-left: 24px;
    margin-bottom: 2px;
} */
.cell-title{
    display: block;
    /*border: 1px solid #ccc;*/
    text-align: left;
    margin:20px;
}
