<div class="main"  ng-controller="advisoryLink">
    <div id="wrap" style="background-color:#fff;">
        <!-- Begin page content -->
        <div class="container">
            <div class="page-header">
                <h2>手机预约驾考 今年或能实现</h2>
                <br>
                <span>2016-2-17 16:26:12&nbsp;&nbsp;&nbsp;来源：一步学车</span>
                <!--增加一个分享开始-->
                <div class="bdsharebuttonbox bdshare-button-style0-16" style="float:right;" data-bd-bind="">
                    <a href="#" class="bds_more" data-cmd="more"></a>
                    <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                    <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                    <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                </div>
               <!--增加一个分享结束-->

            </div>
            <p class="lead">
                此外，会议对2016年公安交管重点工作进行了安排，要求全省各级公安交警部门要加快实战指挥体系建设和公路智能防控体系建设，重点改进机动车驾驶人考试工作，建立健全更加公开、规范、科学的号牌管理办法，推进机动车跨省异地通检、交通违法罚款跨省异地收缴等便民服务，加快高速公路体制改革。
            </p>
            <p class="lead">
                此外，会议对2016年公安交管重点工作进行了安排，要求全省各级公安交警部门要加快实战指挥体系建设和公路智能防控体系建设，重点改进机动车驾驶人考试工作，建立健全更加公开、规范、科学的号牌管理办法，推进机动车跨省异地通检、交通违法罚款跨省异地收缴等便民服务，加快高速公路体制改革。
            </p>

        </div>
        <div id="footer">
            <div class="container">
                <p class="muted credit">@2015 <a href="http://www.yibuxueche.com/">一步学车</a> .</p>
            </div>
        </div>
    </div>
</div>
<!--分享控制-->
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"image":{"viewList":["weixin","sqq","qzone","tqf","tsina","tqq","renren","fx","huaban","kaixin001","copy","print"],"viewText":"分享到：","viewSize":"16"}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>

<script>
    ybxcApp.controller("advisoryLink",function($scope,$http){
        $scope.formData = {};
        //获取文档列表信息


    });



</script>

