
<div class="main" ng-controller="editIndustrynews">

    <div class="main-inner">

        <div class="container">

            <div class="row">

                <div class="span12">

                    <div class="widget ">

                        <div class="widget-header">
                            <i class="icon-th-large"></i>
                            <h3>添加咨询</h3>
                        </div> <!-- /widget-header -->

                        <div class="widget-content">
                            <div class="tabbable">
                                <br>
                                <div class="tab-pane" id="formcontrols">
                                    <form id="edit-profile" class="form-horizontal" name="myForm" ng-submit="processForm(myForm.$valid)"  novalidate>
                                        <fieldset>
                                            <!--one-->
                                            <div class="control-group">

                                            </div><!-- /one end -->
                                            <!--two-->
                                            <div class="control-group">


                                            </div><!--two end-->
                                            <!--three-->
                                            <div class="control-group">

                                            </div> <!-- /three end -->



                                            <!--four-->
                                            <div class="control-group">

                                            </div> <!-- /four end -->

                                            <!--five-->
                                            <div class="control-group">

                                            </div> <!-- five end -->
                                            <!--six-->
                                            <div class="control-group">

                                            </div>
                                            <div class="control-group"  >

                                            </div><!--six end-->

                                            <br />
                                            <div class="form-actions">
                                                <button type="submit" class="btn btn-primary" ng-disabled="myForm.$invalid" >提交</button>
                                                <button class="btn" type="reset">取消</button>
                                            </div> <!-- /form-actions -->
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div> <!-- /widget-content -->

                    </div> <!-- /widget -->

                </div> <!-- /span8 -->
            </div> <!-- /row -->

        </div> <!-- /container -->

    </div> <!-- /main-inner -->

</div> <!-- /main -->







