
<div class="main" ng-controller="industrynewsList">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="widget-header">
                        <i class="icon-th-large"></i>
                        <h3>咨询列表</h3>
                        <div style="float: right ; padding-right: 10px" >
                            <div style="float: left;  padding-right: 10px">
                                <a href="/admin/manage/editIndustrynews"  class="btn  btn-success">添加<i class="btn-icon-only icon-plus " style="float: none"> </i></a>
                            </div>
                            <div style="float: right ; padding-right: 10px">
                                <% include ../public/searchBox %>
                            </div>
                        </div>

                    </div> <!-- /widget-header -->
                    <div class="widget-content">
                        <div class="box">
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-hover">
                                    <tr>
                                        <th> 标题 </th>
                                        <th> 创建时间</th>
                                        <th> 描述</th>
                                        <th> 咨询链接</th>
                                        <th> 类别</th>
                                        <th>浏览次数</th>
                                        <th>分享次数</th>
                                        <th class="td-actions"> 操作</th>
                                    </tr>
                                    <tr class="datalist" ng-repeat="content in data">
                                        <td >
                                            <a href="/news?newsid={{content._id}}" >
                                                <span>{{content.title}}</span> </a>
                                        </td>
                                        <td >
                                            <span>{{content.createtime}}</span>
                                        </td>
                                        <td >
                                            <span>{{content.description}}</span>
                                        </td>
                                        <td >

                                            <a href="{{content.contenturl}}" target="_blank" >
                                                <span>{{content.contenturl}}</span></a>



                                        </td>

                                        <td >
                                            <span>{{content.newstype}}</span>
                                        </td>
                                        <td >
                                            <span>{{content.viewcount}}</span>
                                        </td>
                                        <td >
                                            <span>{{content.sharecount}}</span>
                                        </td>

                                        <td class="td-actions">
                                            <a href="/admin/manage/editIndustrynews?newsid={{content._id}}"
                                               class="btn btn-small btn-success" ><i class="btn-icon-only icon-edit"> </i>
                                            编辑</a>
                                            <!--<a href="#"-->
                                               <!--class="btn btn-small btn-danger" ><i class="btn-icon-only icon-remove-circle "> </i></a>-->
                                        </td>

                                    </tr>
                                </table>
                            </div><!-- /.box-body -->

                        </div><!-- /.box -->
                        <% include ../public/tableFooter %>
                    </div>

                </div>
            </div>

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /main-inner -->
</div>


<script>
    ybxcApp.controller("industrynewsList",function($scope,$http){
        $scope.formData = {};
        //获取文档列表信息
        initPagination($scope,$http,"<%=searchKey%>","/admin/manage/getindustrynewsList?");


    });



</script>