
<div class="main" ng-controller="coachchecklist">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="widget-header">
                        <i class="icon-th-large"></i>
                        <h3>申请列表</h3>
                        <div style="float: right ; padding-right: 10px" >
                            <div style="float: left;  padding-right: 10px">
                                <a href="/admin/manage/editcoachinfo"  class="btn  btn-success">添加<i class="btn-icon-only icon-plus " style="float: none"> </i></a>
                            </div>
                            <div style="float: right ; padding-right: 10px">
                                <% include ../public/searchBox %>
                            </div>
                        </div>

                    </div> <!-- /widget-header -->
                    <div class="widget-content">
                        <div class="box">
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-hover">
                                    <tr>
                                        <th> 姓名 </th>
                                        <th> 联系电话</th>
                                        <th> 注册方式</th>
                                        <th> 审核状态</th>
                                        <th> 班级类型</th>
                                        <th>所属驾校</th>
                                        <th>时间</th>
                                        <th class="td-actions"> 操作</th>
                                    </tr>
                                    <tr class="datalist" ng-repeat="content in data">
                                        <td >
                                            <a href="#" >
                                                <span>{{content.name}}</span> </a>
                                        </td>
                                        <td >
                                            <span>{{content.mobile}}</span>
                                        </td>
                                        <td >
                                            <span>app</span>
                                        </td>
                                        <td ng-switch="content.validationstate">
                                            <span  ng-switch-when="0">未申请</span>
                                            <span  ng-switch-when="1">申请中</span>
                                            <span  ng-switch-when="2">审核拒绝</span>
                                            <span  ng-switch-when="3">审核通过</span>
                                        </td>
                                        <td >
                                            <span>{{content.applyclasstypeinfo.name}}</span>
                                        </td>
                                        <td >
                                            <span>{{content.applyschoolinfo.name}}</span>
                                        </td>
                                        <td >
                                            <span>{{content.applyinfo.applytime}} </span>
                                        </td>


                                        <td class="td-actions">
                                            <a  id="editapplyinfo"
                                                ng-click="editApplyinfo(content._id,content.name)"
                                                class="btn btn-small btn-success" ><i class="btn-icon-only icon-edit"> </i></a>
                                            <a href="#"
                                               class="btn btn-small btn-danger" ><i class="btn-icon-only icon-remove-circle "> </i></a>
                                        </td>


                                    </tr>
                                </table>
                            </div><!-- /.box-body -->

                        </div><!-- /.box -->
                        <% include ../public/tableFooter %>
                    </div>
                    <div id="editpage" class="widget-content"  style="display: none">
                        <div class="control-group">
                            <div class="alert">
                                教练姓名： <strong>  {{formData.name}}</strong>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                报名教练： <strong>  {{formData.applycoachinfo.name}}</strong>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="alert">
                                报名驾校： <strong>  {{formData.applyschoolinfo.name}}</strong>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                报名班级： <strong>  {{formData.applyclasstypeinfo.name}}</strong>
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="alert">
                                报名时间： <strong>  {{formData.applyinfo.applytime}}</strong>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="alert-info text-center">
                                审核状态：    <select style="margin-top: 10px" ng-disabled="formData.applystate!='1'" class="span2" id="handelstate" ng-model="formData.applyinfo.handelstate" >
                                    <option value="0">未处理</option>
                                    <option value="1">处理中</option>
                                    <option value="2">审核拒绝</option>
                                    <option value="3">审核通过</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="alert-info text-center">
                                处理信息：   <textarea  style="margin-top: 10px"   id="superiorservice"
                                                   rows="3" ng-model="formData.applyinfo.handelmessage" placeholder=""></textarea>
                            </div>
                        </div>

                        <button type="button" class="btn btn-primary" ng-disabled="formData.applystate!='1'" >处理</button>
                    </div>
                </div>

            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /main-inner -->
</div>


<script>
    ybxcApp.controller("coachchecklist",function($scope,$http){
        $scope.formData = {};
        //获取文档列表信息
        initPagination($scope,$http,"<%=searchKey%>","/admin/manage/getapplyschoolinfo?");
        $scope.editApplyinfo=function(userid,name){
            $scope.formData={};
            var   userdata;
            for(var i=0;i<$scope.data.length;i++){
                if(userid==$scope.data[i]._id){
                    userdata=$scope.data[i];
                    break;
                }
            }
            if(userdata===undefined){
                layer.msg('没有找到用户信息', {
                    icon: 2,
                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                });
                return;
            }
            $scope.formData=userdata;
            $scope.formData.applystate= $scope.formData.applystate.toString();
            $scope.formData.applyinfo.handelstate= $scope.formData.applyinfo.handelstate.toString();
            layer.open({
                type: 1,
                title: '审核用户--'+name,
                maxmin: true,
                shadeClose: true, //点击遮罩关闭层
                // area : ['800px' , '520px'],
                content:$("#editpage")
            });
        }
    });
</script>