<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/username.css">
    <title>一步驾校</title>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?1a3c6041b2a2721703e632c6556f32a1";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<script type="text/javascript">
    DD_roundies.addRule('.input', '5px 20px 3px 10px', true);DD_roundies.addRule('.websjy2', '5px', true);DD_roundies.addRule('.websjy3', '1000px', true);
</script>
<body>
<div class="header">
        <div class="warp">
            <div class="logo">
                <img src="/img/logo.png" alt="">
            </div>
            <div class="nav">
                <ul>
                    <li class="active"><a href="" >首页</a></li>
                    <li><a href="/down/ybxc">一步学车</a></li>
                    <li><a href="gywmd.html">关于我们</a></li>
                    <li><a href="jiaruwomen.html">加入我们</a></li>
                </ul>
            </div>
            <div class="jxht">
               <div class="anniu"><button><a >驾校管理后台</a></button></div>
            </div>
        </div>
    </div>
    <div class="content">
       <img src="/img/01.png" alt="">
    </div>
<div class="xiangq">
    <a href="xiangqingye.html">查看详情</a>
</div>
<div class="content">
       <img src="/img/02.png" alt="">
     </div>
    <div class="content">
        <img src="/img/03.png" alt="">
    </div>
    <div class="content">
        <img src="/img/04.png" alt="">
    </div>
    <div class="content">
        <img src="/img/05.png" alt="">
    </div>
    <div class="content1">
        <img src="/img/06.png" alt="">
    </div>
    <div class="footer">
            <ul>
                <li><a href="">客服（报名）电话：400-626-9255</a></li>
                <li><a href="">加入我们（HR）:yb@ybxch.com</a></li>
                <li><a href="">地址：北京市海淀区中关村E世界大厦C座743</a></li>
                <li><a href="">2015-2016北京一步科技有限公司 京ICP备15063627</a></li>
            </ul>
    </div>
<script src='//kefu.easemob.com/webim/easemob.js?tenantId=11016&hide=false' async='async'></script>
</body>
</html>