<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/username.css">
    <link rel="stylesheet" href="/css/gywmd.css">
    <script src="/js/rwm.js"></script>
    <script src="/js/jquery.min.js"></script>
    <title>一步学车驾校</title>
    <script language="javascript" type="text/javascript">
        function showDh() {
            document.getElementById('qu').style.display = 'block';
            document.getElementById('zn').style.display = 'block';
            document.getElementById('gn').style.display = 'block';

        }
        function closeDh() {

            document.getElementById('zn').style.display = 'none';
            document.getElementById('gn').style.display = 'none';

        }
        /********************************8*/
        function showDg() {
            document.getElementById('cccc').style.display = 'block';
            document.getElementById('mmmb').style.display = 'block';
            document.getElementById('re').style.display = 'block';

        }
        function closeDg() {

            document.getElementById('mmmb').style.display = 'none';
            document.getElementById('re').style.display = 'none';

        }

    </script>
</head>

<body>
<div class="header">
    <div class="warp">
        <div class="logo">
            <img src="/img/logo.png" alt="">
        </div>
        <div class="nav">
            <ul>
                <li><a href="/" >首页</a></li>
                <li class="active"><a href="/down/ybxc">一步学车</a></li>
                <li><a href="/gywmd.html">关于我们</a></li>
                <li><a href="/jiaruwomen.html">加入我们</a></li>
            </ul>
        </div>
        <div class="jxht">
            <div class="anniu" ><button><a >驾校管理后台</a></button></div>
        </div>
    </div>
</div>
<!---------第一块-------->
<div class="gy">
    <img src="/img/1.1.png" alt="">
</div>
<div class="wmd">
    <p class="bg" >学员端</p>
    <img src="/img/xian.png" alt="">
    <p>让学车更便捷</p>
</div>
<div class="xyd">
    <img src="/img/1.2.png" alt="">
</div>
<!--------------蒙版------------------>




<div id="zn" onclick="showDg()" style="display:block; cursor:pointer" class="mengbanc">
    <img src="/img/iOS.png" alt="">
</div>
<div class="nmb"  onclick="closeDg()" id="qn">

</div>
<div class="cnm" id="gn"  onclick="closeDg()">
    <img src="/img/3.2.png" alt="" >
</div>
<!-------------------蒙版结束------------------------->
<div id="cccc" onclick="showDg()" style="display:block; cursor:pointer" class="mengbancc">
    <img src="/img/anzhuo.png" alt="">
</div>
<div class="nmb"  onclick="closeDg()" id="mmmb">

</div>
<div class="cnm" id="re"  onclick="closeDg()">
    <img src="/img/4.1.png" alt="" id="mmmmb">
</div>

<!---------------最后---------------------->

<div class="wmd" style="margin-top:90px">
    <p class="bg" >教练端</p>
    <img src="/img/xian.png" alt="">
    <p>让服务更高效</p>
</div>
<div class="xyd">
    <img src="/img/2.2.png" alt="">
</div>
<!--------------第三个蒙版------------------------>


<div id="zzz"  style="display:block; cursor:pointer" class="mengbanc">
    <img src="/img/iOS.png" alt="">
</div>
<div class="nmb"  id="vvv">
    <div class="cnm" >
        <img src="/img/4.1.png" alt="">
    </div>
</div>


<div id="ct" onclick="showDp()" style="display:block; cursor:pointer" class="mengbancc">
    <img src="/img/anzhuo.png" alt="">
</div>
<div class="nmb"  onclick="closeDp()" id="ch">

</div>
<div class="cnm" id="cy" onclick="closeDp()">
    <img src="/img/4.2.png" alt="">
</div>
<div class="wmd"style="margin-top:90px">
    <p class="bg">校长端</p>
    <img src="/img/xian.png" alt="">
    <p>让管理更简单</p>
</div>
<div class="xyd">
    <img src="/img/zh.png" alt="">
</div>
<!--------------第三个蒙版------------------------>


<div id="ttt" onclick="showDk()" style="display:block; cursor:pointer" class="mengbanc">
    <img src="/img/iOS.png" alt="">
</div>
<div class="nmb"  onclick="closeDk()" id="kkk">

</div>
<div class="cnm"  id="ni"  onclick="closeDk()" >
    <img src="/img/ix8.png" alt="">
</div>
<!----------------------->
<div id="gg" onclick="showDm()" style="display:block; cursor:pointer" class="mengbancc">
    <img src="/img/anzhuo.png" alt="">
</div>
<div class="nmb"  onclick="closeDm()" id="mm">
</div>
<div class="cnm"  id="pp" onclick="closeDm()">
    <img src="/img/azx8.png" alt="">
</div>
<div class="footer">
    <ul>
        <li><a href="">客服（报名）电话：400-626-9255</a></li>
        <li><a href="">加入我们（HR）:yb@ybxch.com</a></li>
        <li><a href="">地址：北京市海淀区中关村E世界大厦C座743</a></li>
        <li><a href="">2015-2016北京一步科技有限公司 京ICP备15063627</a></li>
    </ul>
</div>
<script src='//kefu.easemob.com/webim/easemob.js?tenantId=11016&hide=false' async='async'></script>
</body>
</html>