<link type="text/css" rel="stylesheet" 	href="/css/mask.css" />
<div class="main" ng-controller="Ycodelist">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="widget-header">
                        <i class="icon-th-large"></i>
                        <h3>返利列表</h3>

                    </div> <!-- /widget-header -->
                    <div class="widget-content">
                        <div class="box">
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-hover">
                                    <tr>
                                        <th>报名单号 </th>
                                        <th>报名学员</th>
                                        <th>报名班型</th>
                                        <th>收费价格</th>
                                        <th>报名驾校</th>
                                        <th>驾校返利</th>
                                        <th>学员返利</th>
                                        <th>代理分利</th>
                                        <th>公司收益</th>
                                        <th>报名时间</th>
                                    </tr>
                                    <tr class="datalist" ng-repeat="content in data">

                                        <td >
                                            <a href="/admin/manage/editActivty?activityid={{content.activityid}}" >
                                                <span id="orderId">{{content.danhao}}</span> </a>
                                        </td>
                                        <td >
                                            <span>{{content.xueyuan}}</span>
                                        </td>
                                        <td >
                                            <span>{{content.banxing}}</span>
                                        </td>
                                        <td >
                                            <span>{{content.jiage}}</span>
                                        </td>
                                        <td >
                                            <span>{{content.jiaxiao}}</span>
                                        </td>
                                        <td >
                                            <span>{{content.jiaxiaofanli}}</span>
                                        </td>
                                       <td>
                                           <span>{{content.xueyuanfanli}}</span>
                                       </td>
                                        <td>
                                            <span>{{content.dailifenli}}</span>
                                        </td>
                                        <td>
                                            <span>{{content.gongsishouyi}}</span>
                                        </td>
                                        <td>
                                            <span>{{content.shijian}}</span>
                                        </td>

                                    </tr>
                                </table>
                            </div><!-- /.box-body -->

                        </div><!-- /.box -->
                        <% include ../public/tableFooter %>
                    </div>

                </div>
            </div>

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /main-inner -->
</div>


<!--mask-->
<div class="mask" id="mask">
    <div class="Ymoney-show">
        <div class="widget-header" style="border-bottom: 1px solid #000;">
            <i class="icon-th-large"></i>
            <h3>Y码返利详情</h3>
            <span class="close-icon" style="width:20px;height:20px;position: absolute;top:0px;right:30px; ">
                <i class="icon-remove-sign"></i>
            </span>
        </div> <!-- /widget-header -->
        <table class="table table-hover">
            <tr style="border-bottom: 1px solid #ccc;">
                <th>ID </th>
                <th>姓名</th>
                <th>身份</th>
                <th>Y码</th>
                <th>分利</th>
            </tr>
            <tr class="datalist" ng-repeat="content in data">

                <td >
                        <span>{{content.ID}}</span> </a>
                </td>
                <td >
                    <span>{{content.name}}</span>
                </td>
                <td >
                    <span>{{content.identity}}</span>
                </td>
                <td >
                    <span>{{content.Ycode}}</span>
                </td>
                <td >
                    <span>{{content.money}}</span>
                </td>

            </tr>
        </table>
    </div>



</div><!--mask end-->


<script>
    ybxcApp.controller("Ycodelist",function($scope,$http){
        $scope.formData = {};
        //获取文档列表信息
        initPagination($scope,$http,"<%=searchKey%>","/admin/manage/getactivtylist?");


    });



</script>
<script src="/js/Ycode-mask.js"></script>