<link type="text/css" rel="stylesheet" 	href="/css/mask.css" />
<div class="main" ng-controller="Ycodelist">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="widget-header">
                        <i class="icon-th-large"></i>
                        <h3>返利列表</h3>

                    </div> <!-- /widget-header -->
                    <div class="widget-content">
                        <div class="box">
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-hover">
                                    <tr>
                                        <th>报名单号 </th>
                                        <th>报名学员</th>
                                        <th>报名班型</th>
                                        <th>收费价格</th>
                                        <th>报名驾校</th>
                                        <th>驾校返利</th>
                                        <th>学员返利</th>
                                        <th>代理分利</th>
                                        <th>公司收益</th>
                                        <th>报名时间</th>
                                    </tr>
                                    <tr class="datalist" ng-repeat="content in data">

                                        <td >
                                            <a  id="checkinfo"
                                                ng-click="checkinfo(content._id,content.name)"
                                                 ><span id="orderId">{{content.danhao}}</span></a>
                                        </td>
                                        <td >
                                            <span>{{content.xueyuan}}</span>
                                        </td>
                                        <td >
                                            <span>{{content.banxing}}</span>
                                        </td>
                                        <td >
                                            <span>{{content.jiage}}</span>
                                        </td>
                                        <td >
                                            <span>{{content.jiaxiao}}</span>
                                        </td>
                                        <td >
                                            <span>{{content.jiaxiaofanli}}</span>
                                        </td>
                                       <td>
                                           <span>{{content.xueyuanfanli}}</span>
                                       </td>
                                        <td>
                                            <span>{{content.dailifenli}}</span>
                                        </td>
                                        <td>
                                            <span>{{content.gongsishouyi}}</span>
                                        </td>
                                        <td>
                                            <span>{{content.shijian}}</span>
                                        </td>

                                    </tr>
                                </table>
                            </div><!-- /.box-body -->

                        </div><!-- /.box -->
                        <% include ../public/tableFooter %>
                    </div>
                    <div id="editpage" style="display: block;">
                        <!--弹出层部分-->

                            <div class="widget-header" style="border-bottom: 1px solid #000;">
                                <i class="icon-th-large"></i>
                                <h3>Y码返利详情</h3>
                            </div> <!-- /widget-header -->
                            <div class="widget-content">
                                <table class="table table-hover">
                                    <tr style="border-bottom: 1px solid #ccc;">
                                        <th>ID </th>
                                        <th>姓名</th>
                                        <th>身份</th>
                                        <th>Y码</th>
                                        <th>分利</th>
                                    </tr>
                                    <tr class="datalist" ng-repeat="content in data">

                                        <td >
                                            <span>{{content.ID}}</span> </a>
                                        </td>
                                        <td >
                                            <span>{{content.name}}</span>
                                        </td>
                                        <td >
                                            <span>{{content.identity}}</span>
                                        </td>
                                        <td >
                                            <span>{{content.Ycode}}</span>
                                        </td>
                                        <td >
                                            <span>{{content.money}}</span>
                                        </td>

                                    </tr>
                                </table>
                            </div>




                    </div>

                </div>
            </div>

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /main-inner -->
</div>



<script>
    ybxcApp.controller("Ycodelist",function($scope,$http){
        $scope.formData = {};
        //获取文档列表信息
        initPagination($scope,$http,"<%=searchKey%>","/admin/manage/#?");
        layer.open({
            type: 1,
            title: '学员姓名--'+name,
            maxmin: true,
            shadeClose: true, //点击遮罩关闭层
            area : ['600px' , '520px'],
            content:$("#editpage")
        });


    });



</script>
