<div class="main" ng-controller="headmasterlist">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="widget-header">
                        <i class="icon-th-large"></i>
                        <h3>校长列表</h3>
                        <div style="float: right ; padding-right: 10px" >
                            <div style="float: left;  padding-right: 10px">
                                <a  ng-click="adduser()"  class="btn  btn-success">添加<i class="btn-icon-only icon-plus " style="float: none"> </i></a>
                            </div>
                            <div style="float: right ; padding-right: 10px">
                                <% include ../public/searchBox %>
                            </div>
                        </div>
                    </div> <!-- /widget-header -->
                    <div class="widget-content">
                        <div class="box">
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-hover">
                                    <tr>
                                        <th> 账号 </th>
                                        <th> 姓名</th>
                                        <th> 邮箱</th>
                                        <th> 手机号</th>
                                        <th> 用户类型</th>
                                        <th> 所在驾校</th>
                                        <th> 用户状态</th>
                                        <th> 创建日期</th>
                                        <th class="td-actions"> 操作</th>
                                    </tr>
                                    <tr class="datalist" ng-repeat="content in data">

                                        <td >
                                            <span>{{content.userName}}</span>
                                        </td>
                                        <td >
                                            <span>{{content.name}}</span>
                                        </td>
                                        <td >
                                            <span>{{content.email}}</span>
                                        </td>
                                        <td >
                                            <span>{{content.phoneNum}}</span>
                                        </td>

                                        <td >
                                            <span ng-switch="content.usertype">
                                                 <div ng-switch-when=0>
                                                     管理员
                                                 </div>
                                                <div ng-switch-when=1>
                                                    驾校管理员
                                                </div></span>
                                        </td>
                                        <td >
                                            <span>{{content.schoolid.name}}</span>
                                        </td>
                                        <td >
                                            <span ng-switch="content.userstate">
                                                <div ng-switch-when=0>
                                                    正常
                                                </div>
                                                <div ng-switch-when=1>
                                                    锁定
                                                </div>
                                            <div ng-switch-when=2>
                                                删除
                                            </div>
                                            </span>
                                        </td>
                                        <td >
                                            <span>{{content.date|date:'yyyy-MM-dd'}}</span>
                                        </td>
                                        <td class="td-actions">
                                            <a ng-click="edituser(content._id,content.name)"
                                               class="btn btn-small btn-success" ><i class="btn-icon-only icon-edit"> </i></a>
                                            <a ng-click="deleteuser(content._id,content.name)"
                                               class="btn btn-small btn-danger" ><i class="btn-icon-only icon-remove-circle "> </i></a>
                                        </td>


                                    </tr>
                                </table>
                            </div><!-- /.box-body -->

                        </div><!-- /.box -->
                        <% include ../public/tableFooter %>
                    </div>
                    <div id="editpage" class="widget-content"  style="display: none">
                        <div class="tabbable">
                            <br>
                            <div class="tab-pane" id="formcontrols">
                                <form id="edit-profile" class="form-horizontal" name="myForm" ng-submit="processForm(myForm.$valid)"  novalidate>
                                    <fieldset>
                                        <div class="control-group">
                                            <label class="control-label" for="userName" >账号</label>
                                            <div class="controls">
                                                <input type="text" class="span6 " name="userName"    id="userName"  placeholder="账号最多三十个字"
                                                       ng-minlength="5" ng-maxlength="30" ng-model="formData.userName" required>
                                                <div class="alert alert-danger span4"  ng-show="myForm.userName.$dirty &&
                                                myForm.userName.$invalid && !myForm.userName.$pristine"
                                                     role="alert">5-30个非特殊字符</div>
                                            </div> <!-- /controls -->
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="name" >姓名</label>
                                            <div class="controls">
                                                <input type="text" class="span6 " name="name"    id="name"  placeholder="名称"
                                                       ng-model="formData.name" required>
                                                <div class="alert alert-danger span4"  ng-show="myForm.name.$error.required"
                                                     role="alert">姓名必须</div>
                                            </div> <!-- /controls -->
                                        </div>

                                        <div class="control-group" ng-show="formData._id===undefined">
                                            <label class="control-label" for="password">密码</label>
                                            <div class="controls">
                                                <div class="input-append">
                                                    <input class="span4 m-wrap"   id="password" type="password"
                                                           ng-model="formData.password" ng-minlength="5" ng-maxlength="30"  >
                                                    <div class="alert alert-danger span4"  ng-show="myForm.password.$dirty &&
                                                myForm.password.$invalid && !myForm.password.$pristine"
                                                         role="alert">5-30个非特殊字符</div>
                                                </div>
                                            </div>
                                        </div><!--control group-->
                                        <div class="control-group" ng-show="formData._id===undefined">
                                            <label class="control-label" for="checkpassword">确认密码</label>
                                            <div class="controls">
                                                <div class="input-append">
                                                    <input class="span4 m-wrap"   id="checkpassword" type="password"
                                                           ng-model="formData.checkpassword" >
                                                </div>
                                            </div>
                                        </div><!--control group-->
                                        <div class="control-group">
                                            <label class="control-label" for="phoneNum">手机</label>
                                            <div class="controls">
                                                <input type="tel" class="span4" id="phoneNum"  ng-model="formData.phoneNum"
                                                       required >
                                                <div class="alert alert-danger span4"  ng-show="myForm.name.$error.required"
                                                     role="alert">手机号必须</div>
                                            </div> <!-- /controls -->
                                        </div> <!-- /control-group -->

                                        <div class="control-group">
                                            <label class="control-label" for="email">邮箱</label>
                                            <div class="controls">
                                                <input type="email" class="span4" id="email"  ng-model="formData.email" >
                                            </div> <!-- /controls -->
                                        </div> <!-- /control-group -->
                                        <div class="control-group">
                                            <label class="control-label" for="usertype">用户类型</label>
                                            <div class="controls">
                                                <select class="span4" id="usertype"   required  >
                                                    <option value="0">管理员</option>
                                                    <option value="1">驾校管理员</option>
                                                </select>
                                            </div> <!-- /controls -->
                                        </div> <!-- /control-group -->
                                        <div class="control-group">
                                            <label class="control-label" for="userstate">用户状态</label>
                                            <div class="controls">
                                                <select class="span4" id="userstate"     required >
                                                    <option value="0">正常</option>
                                                    <option value="1">锁定</option>
                                                    <option value="2">删除</option>
                                                </select>
                                            </div> <!-- /controls -->
                                        </div> <!-- /control-group -->
                                        <div class="control-group">
                                            <label class="control-label" for="schoolid">所在驾校</label>
                                            <div class="controls">
                                                <select class="span4" id="schoolid"
                                                        ng-model="$scope.formData.schoolid" >
                                                    <% extradata.forEach(function(r,index){ %>
                                                    <option value="<%=r._id%>"><%=r.name%></option>
                                                    <%})%>
                                                </select>
                                            </div> <!-- /controls -->
                                        </div> <!-- /control-group -->
                                        <br />
                                        <div class="form-actions">
                                            <button type="submit" class="btn btn-primary" ng-disabled="myForm.$invalid" >提交</button>
                                        </div> <!-- /form-actions -->
                                    </fieldset>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /main-inner -->
</div>
<script type="text/javascript" src="/js/plupload/plupload.full.min.js"></script>
<script type="text/javascript" src="/js/plupload/i18n/zh_CN.js"></script>
<script type="text/javascript" src="/js/qiniu.js"></script>
<script type="text/javascript" src="/js/qiniuupfile.js"></script>
<script>
    ybxcApp.controller("userlist",function($scope,$http){
        $scope.formData = {};
        //获取文档列表信息
        initPagination($scope,$http,"<%=searchKey%>","/admin/manage/getadminuserlist?bussinsee=mer");

        $scope.adduser=function(){
            $scope.formData = {};
            layer.open({
                type: 1,
                title: '添加管理员',
                maxmin: true,
                shadeClose: true, //点击遮罩关闭层
                area : ['850px' , '700px'],
                content:$("#editpage")
            });
        };
        $scope.deleteuser=function(userid,name){
            $scope.formData = {};
            for (i=0;i<$scope.data.length;i++){
                if ($scope.data[i]._id==userid){
                    $scope.formData=$scope.data[i];
                    break;
                }
            };
            if ($scope.formData._id===undefined){
                layer.msg("没有查到用户", {
                    icon: 2,
                    time: 5000 //2秒关闭（如果不配置，默认是3秒）
                });
                return;
            };
            layer.confirm('你确定要删除用户 '+name+' 吗？', {
                btn: ['确认','返回'] //按钮
            }, function(){
                $http.get("/admin/manage/deleteadminuser?userid="+userid) .success(function(response){
                    if (response.type==0){
                        layer.msg(response.msg, {
                            icon: 2,
                            time: 5000 //2秒关闭（如果不配置，默认是3秒）
                        });
                    }else{
                        layer.msg("删除成功", {
                            icon: 1,
                            time: 5000 //2秒关闭（如果不配置，默认是3秒）
                        });
                        window.location.href="/admin/manage/adminusermanger";
                    }
                })
            }, function(){
                return;
            });

        }
        $scope.edituser=function(userid,name){
            $scope.formData = {};
            for (i=0;i<$scope.data.length;i++){
                if ($scope.data[i]._id==userid){
                    $scope.formData=$scope.data[i];
                    break;
                }
            };
            if ($scope.formData._id===undefined){
                layer.msg("没有查到用户", {
                    icon: 2,
                    time: 5000 //2秒关闭（如果不配置，默认是3秒）
                });
                return;
            };
            $("#usertype").val(($scope.formData.usertype?$scope.formData.usertype:0));
            $("#userstate").val(($scope.formData.userstate?$scope.formData.userstate:0));
            if($scope.formData.usertype==1){
                $("#schoolid").val($scope.formData.schoolid?$scope.formData.schoolid._id:"");
            }
            layer.open({
                type: 1,
                title: '编辑用户：'+name,
                maxmin: true,
                shadeClose: true, //点击遮罩关闭层
                area : ['850px' , '520px'],
                content:$("#editpage")
            });
        }
        $scope.processForm = function(isValid){
            if (!isValid){
                alert("参数错误");
                return;
            }
            if(!savedata()){
                return;
            }
            console.log($scope.formData);
            //return;
            $http.post("/admin/manage/updateadminuser",$scope.formData)
                    .success(function(response){
                        if (response.type==0){
                            layer.msg(response.msg, {
                                icon: 2,
                                time: 5000 //2秒关闭（如果不配置，默认是3秒）
                            });
                        }else{
                            layer.msg("更新成功", {
                                icon: 1,
                                time: 5000 //2秒关闭（如果不配置，默认是3秒）
                            });
                            window.location.href="/admin/manage/adminusermanger";
                        }
                    })
        };
        var savedata=function(){//写入数据
            $scope.formData.usertype=$("#usertype").val();
            $scope.formData.userstate=$("#usertype").val();
            if($scope.formData.usertype==1){
                $scope.formData.schoolid= $("#schoolid").val();
                console.log($scope.formData.schoolid);
                if ( $scope.formData.schoolid.indexOf(undefined)>=0){
                    layer.msg("必须选择驾校", {
                        icon: 2,
                        time: 5000 //2秒关闭（如果不配置，默认是3秒）
                    });
                    return false;
                }
            }else {
                $scope.formData.schoolid=undefined;
            }

            return true;
        }
    });



</script>