<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>登录-一步科技</title>
    <link href="/css/comm.css" rel="stylesheet" type="text/css">
    <link href="/css/login.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/js/api/ajax.js"></script>
    <script type="text/javascript" src="/js/api/loginapi.js"></script>
    <script type="text/javascript" src="/js/api/jquery-1.7.2.min.js"></script>
</head>

<body>
<div class="page">
    <div class="yibu comm"><span>北京一步科技有限公司</span></div>
</div>
<div class="comm login">
    <div class="fir_div"></div>
    <form  id="form1" method="post">
        <ul>
            <li class="xitong">
                <div id="error_el"></div>
            </li>
            <li class="user">
                <label for="user"></label>
                <input type="text" name="user" placeholder="" id="user" required />
                <div id="user_el"></div>
            </li>
            <li class="mima">
                <label for="mima"></label>
                <input type="password" name="mima" id="mima" required />
                <div id="mima_el"></div>
            </li>
            <li class="bott">
                <input type="button" name="button" onClick="login()" id="button" value="登入">
            </li>
        </ul>
    </form>
</div>
</body>
</html>
