
<div class="main" ng-controller="userfeedbacklist">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="widget-header">
                        <i class="icon-th-large"></i>
                        <h3>反馈列表</h3>
                        <div style="float: right ; padding-right: 10px" >
                            <div style="float: left;  padding-right: 10px">
                                <a  href="/admin/manage/exportExcel.xls?limit=limit&index=currentPage" class="btn  btn-success">导出</a>

                            </div>
                            <div style="float: right ; padding-right: 10px">
                                <% include ../public/searchBox %>
                            </div>
                        </div>

                    </div> <!-- /widget-header -->
                    <div class="widget-content">
                        <div class="box">
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-hover">
                                    <tr>
                                        <th style="width:8%"> 姓名 </th>
                                        <th style="width:10%"> 部门</th>
                                        <th style="width:2%"> 手机号</th>
                                        <th style="width:10%"> 手机型号</th>
                                        <th style="width:5%"> 测试地点</th>
                                        <th style="width:2%"> APP终端</th>
                                        <th style="width:2%"> 美观度</th>
                                        <th style="width:2%"> 易用性</th>
                                        <th style="width:2%"> 流畅度</th>
                                        <th style="width:2%"> 功能完备度</th>
                                        <th style="width:2%"> 时间消耗</th>
                                        <th style="width:2%"> 流量消耗</th>
                                        <th style="width:2%"> 分享</th>
                                        <th style="width:15%"> 原因</th>
                                        <th style="width:15%"> 问题</th>
                                        <th style="width:2%"> 问题程度</th>
                                        <th style="width:15%"> 建议</th>
                                        <th style="width:2%"> 建议程度</th>
                                        <th style="width:2%"> 反馈时间</th>
                                    </tr>
                                    <tr class="datalist" ng-repeat="content in data">
                                        <td >
                                                <span>{{content.username}}</span>
                                        </td>
                                        <td >
                                            <span>{{content.department}}</span>
                                        </td>
                                        <td >
                                            <span>{{content.mobile}}</span>
                                        </td>
                                        <td >
                                            <span>{{content.phoneType}}</span>
                                        </td>
                                        <td >
                                            <span>{{content.testPlace}}</span>
                                        </td>
                                        <td  >
                                            <span ng-switch="content.whoUse">
                                                <div ng-switch-when="1">
                                                    学员
                                                </div>
                                                <div ng-switch-when="2">
                                                    教练
                                                </div>
                                                <div ng-switch-when="3">
                                                    校长
                                                </div>
                                                </span>
                                        </td>
                                        <td>{{content.outward}}分</td>
                                        <td>{{content.easy}}分</td>
                                        <td>{{content.affluent}}分</td>
                                        <td>{{content.function}}分</td>
                                        <td  >
                                            <span ng-switch="content.timeUse">
                                                <div ng-switch-when="1">
                                                    短
                                                </div>
                                                <div ng-switch-when="2">
                                                    中等
                                                </div>
                                                <div ng-switch-when="3">
                                                    长
                                                </div>
                                                 <div ng-switch-when="4">
                                                     过长
                                                 </div>
                                                </span>
                                        </td>
                                        <td  >
                                            <span ng-switch="content.flowUse">
                                                <div ng-switch-when="1">
                                                    少
                                                </div>
                                                <div ng-switch-when="2">
                                                    中等
                                                </div>
                                                <div ng-switch-when="3">
                                                    多
                                                </div>
                                                 <div ng-switch-when="4">
                                                     过多
                                                 </div>
                                                </span>
                                        </td>

                                        <td  >
                                            <span ng-switch="content.share">
                                                <div ng-switch-when="1">
                                                    分享
                                                </div>
                                                <div ng-switch-when="2">
                                                    不分享
                                                </div>

                                                </span>
                                        </td>
                                        <td>{{content.sharereason}}</td>
                                        <td>{{content.problem}}</td>
                                        <td  >
                                            <span ng-switch="content.problemimportent">
                                                <div ng-switch-when="1">
                                                    必须有
                                                </div>
                                                <div ng-switch-when="2">
                                                    应该有
                                                </div>
                                                <div ng-switch-when="3">
                                                    最好有
                                                </div>
                                                 <div ng-switch-when="4">
                                                     可以有
                                                 </div>
                                                </span>
                                        </td>
                                        <td>{{content.suggest}}</td>
                                        <td  >
                                            <span ng-switch="content.suggestimportent">
                                                <div ng-switch-when="1">
                                                    必须有
                                                </div>
                                                <div ng-switch-when="2">
                                                    应该有
                                                </div>
                                                <div ng-switch-when="3">
                                                    最好有
                                                </div>
                                                 <div ng-switch-when="4">
                                                     可以有
                                                 </div>
                                                </span>
                                        </td>
                                        <td>{{content.createtime|date:"yyyy/MM/dd"}}</td>




                                    </tr>
                                </table>
                            </div><!-- /.box-body -->

                        </div><!-- /.box -->
                        <% include ../public/tableFooter %>
                    </div>

                </div>
            </div>

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /main-inner -->
</div>


<script>
    ybxcApp.controller("userfeedbacklist",function($scope,$http){
        $scope.formData = {};
        //获取文档列表信息
        initPagination($scope,$http,"<%=searchKey%>","/admin/manage/getuserfeedbacklist?");

        $scope.exportexcle=function(){
           // window.location.href="/admin/manage/exportExcel";
            $http.get("/admin/manage/exportExcel?"+"&limit="+$scope.limit+"&index="+$scope.currentPage).success(function(result){
                console.log(result);
                window.open(window.location.host+"/"+result);
                //$http.get("http://127.0.0.1:8182/"+result).success(function(){});
            })
        }
    });



</script>