<div>
    <form class="biaodan clearfix" action="">
        <ul>
            <li><span class="span1">商品名称：</span><span class="span2">一步商城键身卡</span></li>
            <li><span class="span1">商家名称：</span><span class="span2">一步商城签约商家</span></li>
            <li><span class="span1">商家地址：</span><span class="span2">北京市中关村D口E世界743室</span></li>
            <li><span class="span1">消费用户：</span><span class="span2">李学车</span></li>
            <li><span class="span1">联系电话：</span><span class="span2">18888888888</span></li>
            <li><span class="span1">购买日期：</span><span class="span2">2015.12.7</span></li>
            <li><span class="span1">截至日期：</span><span class="span2">2015.12.7</span></li>
        </ul>
        <div class="wanc"><a href="">已完成</a></div>
    </form>
</div>