



<div class="main">

    <div class="main-inner">

        <div class="container">

            <div class="row">

                <div class="span12">

                    <div class="widget ">

                        <div class="widget-header">
                            <i class="icon-wrench"></i>
                            <h3>App 设置</h3>
                        </div> <!-- /widget-header -->

                        <div class="widget-content">

                            <div class="tabbable tabs-left ">
                                <ul class="nav nav-tabs ">
                                    <li>
                                        <a href="#coachworktime" data-toggle="tab">教练工作时间</a>
                                    </li>
                                    <li  class="active"><a href="#coachcomment" data-toggle="tab">教练评价</a></li>
                                    <li  ><a href="#orderday" data-toggle="tab">预约天数</a></li>
                                    <li  ><a href="#cancelorder" data-toggle="tab">预约取消</a></li>
                                    <li  ><a href="#studenthours" data-toggle="tab">学员课时</a></li>
                                    <li  ><a href="#ordersetting" data-toggle="tab">跨科目预约</a></li>
                                </ul>

                                <br>

                                <div class="tab-content span9">
                                    <div class="tab-pane" id="coachworktime">

                                    </div>

                                    <div class="tab-pane active" id="coachcomment">
                                    </div>
                                    <div class="tab-pane" id="orderday">

                                    </div>
                                    <div class="tab-pane" id="cancelorder">

                                    </div>
                                    <div class="tab-pane" id="studenthours">

                                    </div>
                                    <div class="tab-pane" id="ordersetting">

                                    </div>

                                </div>


                            </div>

                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary" ng-disabled="myForm.$invalid" >提交</button>
                                <button class="btn">取消</button>
                            </div> <!-- /form-actions -->

                        </div> <!-- /widget-content -->

                    </div> <!-- /widget -->

                </div> <!-- /span8 -->




            </div> <!-- /row -->

        </div> <!-- /container -->

    </div> <!-- /main-inner -->

</div> <!-- /main -->



