
<div class="main" ng-controller="coachlist">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="widget-header">
                        <i class="icon-th-large"></i>
                        <h3>训练场列表</h3>
                        <div style="float: right ; padding-right: 10px" >
                            <div style="float: left;  padding-right: 10px">
                                <a href="/admin/manage/editcoachinfo"  class="btn  btn-success">添加<i class="btn-icon-only icon-plus " style="float: none"> </i></a>
                            </div>
                            <div style="float: right ; padding-right: 10px">
                                <% include ../public/searchBox %>
                            </div>
                        </div>

                    </div> <!-- /widget-header -->
                    <div class="widget-content">
                        <div class="box">
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-hover">
                                    <tr>
                                        <th> 姓名 </th>
                                        <th> 联系电话</th>
                                        <th> 科目</th>
                                        <th>训练场</th>
                                        <th class="td-actions"> 操作</th>
                                    </tr>
                                    <tr class="datalist" ng-repeat="content in data">

                                        <td >
                                            <span>{{content.name}}</span>
                                        </td>
                                        <td >
                                            <span>{{content.mobile}}</span>
                                        </td>
                                        <td >
                                            <span>{{content.carmodel.code}}</span>
                                        </td>
                                        <td >
                                            <span>{{content.trainfieldlinfo.name}}</span>
                                        </td>


                                        <td class="td-actions">
                                            <a href="/admin/manage/edittrainingfield?trainingfiledid={{content.coachid}}"
                                               class="btn btn-small btn-success" ><i class="btn-icon-only icon-edit"> </i></a>
                                            <a href="#"
                                               class="btn btn-small btn-danger" ><i class="btn-icon-only icon-remove-circle "> </i></a>
                                        </td>


                                    </tr>
                                </table>
                            </div><!-- /.box-body -->

                        </div><!-- /.box -->
                        <% include ../public/tableFooter %>
                    </div>

                </div>
            </div>

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /main-inner -->
</div>


<script>
    ybxcApp.controller("coachlist",function($scope,$http){
        $scope.formData = {};
        //获取文档列表信息
        initPagination($scope,$http,"<%=searchKey%>","/manage/getCoachlist?schoolid=<%=schoolid%>");


    });



</script>