<link type="text/css" rel="stylesheet" 	href="/css/powerFloat.css" />
<link type="text/css" rel="stylesheet" 	href="/css/xmenu.css" />
<div class="main" ng-controller="editclasstype">
    <div class="main-inner">

        <div class="container">

            <div class="row">

                <div class="span12">

                    <div class="widget ">

                        <div class="widget-header">
                            <i class="icon-th-large"></i>
                            <h3>添加班型</h3>
                        </div> <!-- /widget-header -->
                        <div class="widget-content">
                            <div class="tabbable">
                                <br>
                                <div class="tab-pane" id="formcontrols">
                                    <form id="edit-profile" class="form-horizontal" name="myForm" ng-submit="processForm(myForm.$valid)"  novalidate>
                                        <fieldset>
                                            <div class="control-group">
                                                <label class="control-label" for="name" >班级名称</label>
                                                <div class="controls">
                                                    <input type="text" class="span6 " name="classname"    id="classname"  placeholder="名称最多三十个字"
                                                           ng-minlength="2" ng-maxlength="30" ng-model="formData.classname" required>
                                                    <div class="alert alert-danger span4"  ng-show="myForm.name.$dirty && myForm.name.$invalid && !myForm.name.$pristine"
                                                         role="alert">2-30个非特殊字符</div>
                                                </div> <!-- /controls -->
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label" >开课时间</label>
                                                <div class="controls">
                                                    <label class="control-label" for="starttime">开始时间:</label>
                                                    <input type="text" class="span4  laydate-icon" id="begindate" onclick="laydate()">
                                                    <br>
                                                    <br>
                                                    <label class="control-label" for="endtime">结束时间:</label>
                                                    <input type="text" class="span4  laydate-icon" id="enddate" onclick="laydate()">
                                                </div>
                                            </div> <!-- /three end -->
                                            <div class="control-group">
                                                <label class="control-label" for="carmodel">驾照类型</label>
                                                <div class="controls">
                                                    <select class="span4" id="carmodel"    >
                                                        <option value="1">C1</option>
                                                        <option value="2">C2</option>
                                                        <option value="3">O</option>
                                                    </select>
                                                </div> <!-- /controls -->
                                            </div> <!-- /control-group -->

                                            <div class="control-group">
                                                <label class="control-label" for="price">价格</label>
                                                <div class="controls">
                                                    <input name="price"  type="number" ng-model="formData.price" class="span2" id="price" value="100"  required>

                                                </div>
                                                <div class="alert alert-danger span2"  ng-show="myForm.price.$error.required"
                                                     role="alert">价格必须</div>
                                            </div> <!-- /control-group -->
                                            <div class="control-group">
                                                <label class="control-label" for="onsaleprice">优惠价格</label>
                                                <div class="controls">
                                                    <input   name="onsaleprice"  type="number" ng-model="formData.onsaleprice" class="span2" id="onsaleprice" value="100"  required>
                                                </div>
                                                <div class="alert alert-danger span2"  ng-show="myForm.onsaleprice.$error.required"
                                                     role="alert">优惠价格必须</div>
                                            </div> <!-- /control-group -->
                                            <div class="control-group">
                                                <label class="control-label" for="originalprice">原始价格</label>
                                                <div class="controls">
                                                    <input   name="originalprice" type="number" ng-model="formData.originalprice" class="span2" id="originalprice" value="100"  required>

                                                </div>
                                                <div class="alert alert-danger span2"  ng-show="myForm.originalprice.$error.required"
                                                     role="alert">原始价格必须</div>
                                            </div> <!-- /control-group -->
                                            <div class="control-group">
                                                <label class="control-label" for="systemretains">系统预留</label>
                                                <div class="controls">
                                                    <input name="systemretains"  type="number" ng-model="formData.systemretains" class="span2" id="systemretains" value="100"  required>

                                                </div>
                                                <div class="alert alert-danger span2"  ng-show="myForm.systemretains.$error.required"
                                                     role="alert">价格必须</div>
                                            </div> <!-- /control-group -->

                                            <div class="control-group">
                                                <label class="control-label" for="feedbackuser">返给用户</label>
                                                <div class="controls">
                                                    <input name="feedbackuser"  type="number" ng-model="formData.feedbackuser" class="span2" id="feedbackuser" value="100"  required>

                                                </div>
                                                <div class="alert alert-danger span2"  ng-show="myForm.feedbackuser.$error.required"
                                                     role="alert">价格必须</div>
                                            </div> <!-- /control-group -->
                                            <div class="control-group">
                                                <label class="control-label" for="rewardmoney">返给代理</label>
                                                <div class="controls">
                                                    <input name="rewardmoney"  type="number" ng-model="formData.rewardmoney" class="span2" id="rewardmoney" value="100"  required>

                                                </div>
                                                <div class="alert alert-danger span2"  ng-show="myForm.rewardmoney.$error.required"
                                                     role="alert">价格必须</div>
                                            </div> <!-- /control-group -->


                                            <div class="control-group">
                                                <label class="control-label" for="valueaddedservice">车型</label>
                                                <div class="controls">
                                                    <textarea   class="span4" id="cartype" rows="3"  ng-model="formData.cartype" placeholder="车型信息"></textarea>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label" for="classdesc">授课日程</label>
                                                <div class="controls">
                                                    <textarea   class="span4" id="classchedule" rows="3" ng-model="formData.classchedule"
                                                                placeholder="授课日程 平日/周末"></textarea>
                                                </div>
                                            </div>

                                            <div class="control-group">
                                                <label class="control-label" for="classdesc">简介</label>
                                                <div class="controls">
                                                    <textarea   class="span4" id="classdesc" rows="3" ng-model="formData.classdesc" placeholder="驾校简介"></textarea>
                                                </div>
                                            </div>

                                            <div class="control-group">
                                                <label class="control-label" for="vipserverlist">驾照类型</label>
                                                <div class="controls">
                                                    <input type="hidden" value="" id="vipserverlist"   />
                                                    <div class="topnav">
                                                        <a id="showviplist" href="javascript:void(0);" class="as">
                                                            <span></span>
                                                        </a>

                                                    </div>

                                                </div>
                                            </div>
                                            <br />
                                            <div class="form-actions">
                                                <button type="submit" class="btn btn-primary" ng-disabled="myForm.$invalid" >提交</button>
                                                <button class="btn">取消</button>
                                            </div> <!-- /form-actions -->
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div> <!-- /widget-content -->

                    </div> <!-- /widget -->

                </div> <!-- /span8 -->
            </div> <!-- /row -->

        </div> <!-- /container -->

    </div> <!-- /main-inner -->
    <div id="m2" class="xmenu" style="display: none;">
        <div class="select-info">
            <label class="top-label">已选类型：</label>
            <ul>

            </ul>
            <a  name="menu-confirm" href="javascript:void(0);" class="a-btn">
                <span class="a-btn-text">确定</span>
            </a>
        </div>
        <dl>
            <dt class="open">所有类型</dt>
            <dd>
                <ul id="licensetypelist">
                    <% extradata.forEach(function(r,index){ %>
                    <li rel="<%=r.id%>"><%=r.name%></li>
                    <%})%>

                </ul>
            </dd>

        </dl>

    </div>


</div> <!-- /main -->
<script type="text/javascript" src="/js/laydate.js"></script>
<script type="text/javascript" src="/js/jquery-powerFloat-min.js"></script>
<script type="text/javascript" src="/js/jquery-xmenu.js"></script>
<script type="application/javascript">
    $(document).ready(function() {
        $("#showviplist").xMenu({
            width :600,
            eventType: "click", //事件类型 支持focus click hover
            dropmenu:"#m2",//弹出层
            hiddenID : "vipserverlist"//隐藏域ID
        });
    })
</script>
<script type="application/javascript">
    ybxcApp.controller("editclasstype",function($scope,$http){

        $scope.formData = {};

        var classtypeid=GetQueryString("classtypeid");
        if(classtypeid !=null && classtypeid.toString().length>1)
                    {
                        var index = layer.load(2);
                        $http.get("getclasstypebyid?classtypeid="+classtypeid)
                                .success(function(response){
                                    layer.close(index);
                                    if (response.type==0){
                                        alert(response.msg);
                                    }
                                    else{
                                        $scope.formData = response.data;
                                        console.log($scope.formData);
                                        var  licensetype="";
                                    }


                                })
                    }else{

                    }

        $scope.processForm = function(isValid){
            console.log(isValid);
            if (!isValid){
                alert("参数错误");
                return;
            }
            if($scope.formData.schoolid!=undefined&&$scope.formData.schoolid!="")
            {
                if(!savedata()){
                    return;
                }
                $http.post("/admin/manage/saveclasstype",$scope.formData)
                        .success(function(response){
                            if (response.type==0){
                                alert(response.msg);
                            }else{
                                alert("修改成功");
                                window.location.href="/admin/manage/classtypelist";
                            }
                        })
            }else {
                if(!savedata()){
                    return;
                }
                console.log($scope.formData.licensetype);
                $http.post("/admin/manage/saveclasstype",$scope.formData)
                        .success(function(response){
                            if (response.type==0){
                                alert(response.msg);
                            }else{
                                alert("添加成功");
                                window.location.href="/admin/manage/classtypelist";
                            }
                        })
            }

        };

        var savedata=function(){
            return true;
        }
    });



</script>
