
<div class="main" ng-controller="editstudent">

    <div class="main-inner">

        <div class="container">

            <div class="row">

                <div class="span12">

                    <div class="widget ">

                        <div class="widget-header">
                            <i class="icon-th-large"></i>
                            <h3>添加学员</h3>
                        </div> <!-- /widget-header -->

                        <div class="widget-content">
                            <div class="tabbable">
                                <br>
                                <div class="tab-pane" id="formcontrols">
                                    <form id="edit-profile" class="form-horizontal" name="myForm" ng-submit="processForm(myForm.$valid)"  novalidate>
                                        <fieldset>
                                            <div class="control-group">
                                                <label class="control-label" for="name" >学员名称</label>
                                                <div class="controls">
                                                    <input type="text" class="span6 " name="name"    id="name"  placeholder="名称最多十个字"
                                                           ng-minlength="2" ng-maxlength="10" ng-model="formData.name" required>
                                                    <div class="alert alert-danger span4"  ng-show="myForm.name.$dirty && myForm.name.$invalid && !myForm.name.$pristine"
                                                         role="alert">2-10个非特殊字符</div>
                                                </div> <!-- /controls -->
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label" for="logimg">学员头像</label>
                                                <div class="controls">
                                                    <div class="input-append">
                                                        <input class="span4 m-wrap"   id="logimg" type="text"disabled
                                                               ng-model="formData.headportrait.originalpic"	   >
                                                        <button class="btn" type="button" id="picklogimg">选择头像</button>
                                                        <img id="logimgimg" style="width: 60px;height: 60px">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="control-group">
                                                <label class="control-label">性别</label>
                                                <div class="controls">
                                                    <select class="span4" id="gender"   ng-model="formData.gender"  >
                                                        <option value="男">男</option>
                                                        <option value="女">女</option>
                                                    </select>
                                                </div>		<!-- /controls -->
                                            </div> <!-- /control-group -->


                                            <div class="control-group">
                                                <label class="control-label" for="personSign">个性签名</label>
                                                <div class="controls">
                                                    <input type="text" class="span6" id="personSign" ng-model="formData.signature">
                                                </div> <!-- /controls -->
                                            </div> <!-- /control-group -->


                                            <div class="control-group">
                                                <label class="control-label" for="mobile">联系电话</label>
                                                <div class="controls">
                                                    <input type="tel" class="span6" id="mobile" ng-model="formData.mobile" required>
                                                    <div class="alert alert-danger span4"  ng-show="myForm.mobile.$error.required"
                                                         role="alert">手机号不能为空</div>
                                                </div> <!-- /controls -->
                                            </div> <!-- /control-group -->


                                            <div class="control-group">
                                                <label class="control-label" for="province">地址</label>
                                                <div class="controls">
                                                    <input type="text" class="span6 disabled"  id="address" name="address"
                                                           ng-model="formData.address"    placeholder="详细地址" required>
                                                </div> <!-- /controls -->
                                            </div><!-- /control-group -->

                                            <div class="control-group">
                                                <label class="control-label" for="idcardnumber">身份证号</label>
                                                <div class="controls">
                                                    <input type="text" class="span4" id="idcardnumber"  ng-model="formData.idcardnumber" >
                                                </div> <!-- /controls -->
                                            </div> <!-- /control-group -->


                                            <div class="control-group">
                                                <label class="control-label" for="trainplace">报名班型</label>
                                                <div class="controls">
                                                    <select class="span4" id="trainplace"  ng-model="formData.applyclasstype" required   >
                                                        <% extradata.forEach(function(r,index){ %>
                                                        <option value="<%=r.id%>"><%=r.name%></option>
                                                        <%})%>
                                                    </select>
                                                </div> <!-- /controls -->
                                            </div> <!-- /control-group -->
                                            <div class="control-group">
                                                <label class="control-label" for="carmodel">驾照类型</label>
                                                <div class="controls">
                                                    <select class="span4" id="carmodel" ng-model="formData.carmodel.modelsid" required   >
                                                        <option value=1>C1</option>
                                                        <option value=2>C2</option>
                                                        <option value=3>O</option>
                                                    </select>
                                                </div> <!-- /controls -->

                                            </div> <!-- /control-group -->


                                            <div class="control-group">
                                                <label class="control-label" for="studyspeed">学习进度</label>
                                                <div class="controls">
                                                    <select class="span4" id="studyspeed"  ng-model="formData.subject.subjectid" required  >
                                                        <option value=1>科目一</option>
                                                        <option value=2>科目二</option>
                                                        <option value=3>科目三</option>
                                                        <option value=4>科目四</option>
                                                        <option value=5>已学完</option>
                                                    </select>
                                                </div> <!-- /controls -->
                                            </div> <!-- /control-group -->
                                            <div class="control-group">
                                                <label class="control-label" for="Seniority">科目二</label>
                                                <div class="controls">
                                                    总学时
                                                    <input  type="number"   class="span1" ng-model="formData.subjecttwo.totalcourse"   id="Seniority" value="0" required >
                                                    &nbsp;&nbsp;完成学时&nbsp;
                                                    <input  type="number" ng-model="formData.subjecttwo.finishcourse"   class="span1" id="passrate" value="90" required>%
                                                    &nbsp;&nbsp;漏课学时&nbsp;
                                                    <input  type="number" ng-model="formData.subjecttwo.missingcourse"   class="span1" id="studentcount" value="0" required >
                                                </div>
                                            </div> <!-- /control-group -->
                                            <div class="control-group">
                                                <label class="control-label" for="Seniority">科目三</label>
                                                <div class="controls">
                                                    总学时
                                                    <input  type="number"   class="span1" ng-model="formData.subjectthree.totalcourse"   id="Seniority" value="0" required >
                                                    &nbsp;&nbsp;完成学时&nbsp;
                                                    <input  type="number" ng-model="formData.subjectthree.finishcourse"   class="span1" id="passrate" value="90" required>%
                                                    &nbsp;&nbsp;漏课学时&nbsp;
                                                    <input  type="number" ng-model="formData.subjectthree.missingcourse"   class="span1" id="studentcount" value="0" required >
                                                </div>
                                            </div> <!-- /control-group -->

                                            <br />
                                            <div class="form-actions">
                                                <button type="submit" class="btn btn-primary" ng-disabled="myForm.$invalid" >提交</button>
                                                <!--<button class="btn">取消</button>-->
                                            </div> <!-- /form-actions -->
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div> <!-- /widget-content -->

                    </div> <!-- /widget -->

                </div> <!-- /span8 -->
            </div> <!-- /row -->

        </div> <!-- /container -->

    </div> <!-- /main-inner -->


</div> <!-- /main -->
<script type="text/javascript" src="/js/plupload/plupload.full.min.js"></script>
<script type="text/javascript" src="/js/plupload/i18n/zh_CN.js"></script>
<script type="text/javascript" src="/js/qiniu.js"></script>
<script type="text/javascript" src="/js/qiniuupfile.js"></script>
<script type="text/javascript" src="/js/laydate.js"></script>

<script type="application/javascript">
    ybxcApp.controller("editstudent",function($scope,$http){
        $scope.formData = {};
        $scope.showlicensetype="";
        var studentid=GetQueryString("studentid");
        if(studentid !=null && studentid.toString().length>1)
        {
            console.log(studentid);
            $http.get("getstudentbyid?studentid="+studentid)
                    .success(function(response){
                        if (response.type==0){
                            layer.msg(response.msg, {
                                icon: 2,
                                time: 2000 //2秒关闭（如果不配置，默认是3秒）
                            });
                        }else{
                            $scope.formData = response.data;

                            console.log(response.data);
                            $scope.formData.carmodel.modelsid=$scope.formData.carmodel.modelsid.toString();
                            $scope.formData.subject.subjectid= $scope.formData.subject.subjectid.toString();
                            $("#logimgimg").attr("src",$scope.formData.headportrait.originalpic);
                        }
                    })
        }else{
//            $scope.formData.subjectthree.totalcourse=16;
//            $scope.formData.subjecttwo.totalcourse=24;
            $scope.formData.headportrait={};
        }

        $scope.processForm = function(isValid){
            console.log(isValid);
            if (!isValid){
                alert("参数错误");
                return;
            }
            if($scope.formData._id!=undefined&&$scope.formData._id!="")
            {
                if(!savedata()){
                    return;
                }
                //console.log($scope.formData);
                $http.post("/admin/manage/savestudentinfo",$scope.formData)
                        .success(function(response){
                            if (response.type==0){
                                layer.msg(response.msg, {
                                    icon: 2,
                                    time: 5000 //2秒关闭（如果不配置，默认是3秒）
                                });
                            }else{
                                layer.msg("修改成功", {
                                    icon: 1,
                                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                                });
                                window.location.href="/admin/manage/studentlist";
                            }
                        })
            }else {
                if(!savedata()){
                    return;
                }
                console.log($scope.formData);
                $http.post("/admin/manage/savestudentinfo",$scope.formData)
                        .success(function(response){
                            if (response.type==0){
                                layer.msg(response.msg, {
                                    icon: 2,
                                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                                });
                            }else{
                                layer.msg("添加成功", {
                                    icon: 1,
                                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                                });
                              //  window.location.href="/admin/manage/studentlist";
                            }
                        })
            }

        };

        var savedata=function(){
            $scope.formData.headportrait.originalpic=$("#logimg").val();
            if($scope.formData.applyclasstype==undefined||$scope.formData.applyclasstype.length==0){
                layer.msg("请选择训班型", {
                    icon: 2,
                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                });
                return false;
            }
            if($scope.formData.carmodel.modelsid==undefined||$scope.formData.carmodel.modelsid.length==0){
                layer.msg("请选择驾照类型", {
                    icon: 2,
                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                });
                return false;
            }
            if($scope.formData.subject.subjectid==undefined||$scope.formData.subject.subjectid.length==0){
                layer.msg("请选择学习进度", {
                    icon: 2,
                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                });
                return false;
            }
            return true;
        }
    });



</script>
