
<div class="main" ng-controller="addTraing">

    <div class="main-inner">

        <div class="container">

            <div class="row">

                <div class="span12">

                    <div class="widget ">

                        <div class="widget-header">
                            <i class="icon-th-large"></i>
                            <h3>添加训练场</h3>
                        </div> <!-- /widget-header -->
                        <div class="widget-content">
                            <div class="tabbable">
                                <br>
                                <div class="tab-pane" id="formcontrols">
                                    <form id="edit-profile" class="form-horizontal" name="myForm" ng-submit="processForm(myForm.$valid)"  novalidate>
                                        <fieldset>
                                            <div class="control-group">
                                                <label class="control-label" for="name" >训练场名称</label>
                                                <div class="controls">
                                                    <input type="text" class="span6 " name="name"    id="name"  placeholder="名称最多三十个字"
                                                           ng-minlength="5" ng-maxlength="30" ng-model="formData.fieldname" required>
                                                    <div class="alert alert-danger span4"  ng-show="myForm.name.$dirty && myForm.name.$invalid && !myForm.name.$pristine"
                                                         role="alert">5-30个非特殊字符</div>
                                                </div> <!-- /controls -->
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label" for="logimg">训练场头像</label>
                                                <div class="controls">
                                                    <div class="input-append">
                                                        <input class="span4 m-wrap"   id="logimg" type="text"disabled
                                                               ng-model="formData.logoimg"	   >
                                                        <button class="btn" type="button" id="picklogimg">选择投头像</button>
                                                        <img id="logimgimg" style="width: 60px;height: 60px">
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="control-group">
                                                <label class="control-label" for="province">训练场地址</label>
                                                <div class="controls">
                                                    <input type="text" class="span2 disabled"  id="province"
                                                           ng-model="formData.province"  disabled> 省
                                                    <input type="text" class="span2 disabled" id="city"
                                                           ng-model="formData.city" disabled> 市
                                                    <br/>
                                                    <br/>
                                                    <input type="text" class="span6 disabled"  id="address" name="address"
                                                           ng-model="formData.address"    placeholder="详细地址" required>
                                                    <input type="hidden" id="longitude"  ng-model="formData.longitude"   >
                                                    <input type="hidden" id="latitude" ng-model="formData.latitude"  >
                                                    <div class="alert alert-danger span4"  ng-show="myForm.address.$error.required"
                                                         role="alert">地址必须</div>
                                                </div> <!-- /controls -->
                                            </div>


                                            <div class="control-group"  style="height: 250px;width: 600px">
                                                <label class="control-label" >地址选择</label>
                                                <div class="controls">
                                                    <div id="allmap" class="span6" style="width:600px;height:250px;border:1px solid #000"></div>
                                                </div>
                                            </div>

                                            <div class="control-group">
                                                <label class="control-label" for="fieldlevel">训练场星级</label>
                                                <div class="controls">
                                                    <select class="span4" id="fieldlevel"   ng-model="formData.fieldlevel" >
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                </div> <!-- /controls -->

                                            </div> <!-- /control-group -->

                                            <div class="control-group">
                                                <label class="control-label" for="is_validation" >训练场认证</label>
                                                <div class="controls">
                                                    <select class="span4" id="is_validation" >
                                                        <option value="1">已认证</option>
                                                        <option value="0">未认证</option>
                                                    </select>
                                                </div> <!-- /controls -->
                                            </div> <!-- /control-group -->

                                            <div class="control-group">
                                                <label class="control-label" for="introduction">训练场简介</label>
                                                <div class="controls">
                                                    <textarea   class="span4" id="introduction" rows="3" ng-model="formData.fielddesc" placeholder="驾校简介"></textarea>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label" for="linkman1">联系人</label>
                                                <div class="controls">
                                                    <input type="text" class="span2" id="linkman1"  ng-model="formData.responsible" >
                                                    电话： <input type="text" class="span2" id="linktele1"  ng-model="formData.phone">
                                                </div> <!-- /controls -->
                                            </div> <!-- /control-group -->

                                            <br />
                                            <div class="form-actions">
                                                <button type="submit" class="btn btn-primary" ng-disabled="myForm.$invalid" >提交</button>
                                                <button class="btn">取消</button>
                                            </div> <!-- /form-actions -->
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div> <!-- /widget-content -->

                    </div> <!-- /widget -->

                </div> <!-- /span8 -->
            </div> <!-- /row -->

        </div> <!-- /container -->

    </div> <!-- /main-inner -->


</div> <!-- /main -->
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=201bccec2ea05baf5cf275aca9901cc0"></script>
<script  src="/js/baidumap.js"></script>
<script type="text/javascript" src="/js/plupload/plupload.full.min.js"></script>
<script type="text/javascript" src="/js/plupload/i18n/zh_CN.js"></script>
<script type="text/javascript" src="/js/qiniu.js"></script>
<script type="text/javascript" src="/js/qiniuupfile.js"></script>
<script type="application/javascript">
    ybxcApp.controller("addTraing",function($scope,$http){
        $scope.formData = {};
        var trainingfiledid=GetQueryString("trainingfiledid");
                    if(trainingfiledid !=null && trainingfiledid.toString().length>1)
                    {
                        $http.get("gettrainingfieldbyid?trainingfiledid="+trainingfiledid)
                                .success(function(response){
                                    if (response.type==0){
                                        alert(response.msg);
                                    }else{
                                        $scope.formData = response.data;
                                        console.log(response.data);
                                        $("#logimg").val($scope.formData.logoimg);
                                        $("#logimgimg").attr("src",$scope.formData.logoimg)
                                        setPoint($scope.formData.longitude,$scope.formData.latitude);
                                        $("#latitude").val($scope.formData.latitude);
                                        $("#longitude").val($scope.formData.longitude);
                                        $("#is_validation").val($scope.formData.is_validation);
                                    }


                                })
                    }else{
                        $scope.formData.fieldlevel="5";
                        $scope.formData.is_validation=1;
                        $("#is_validation").val($scope.formData.is_validation);
                    }

        $scope.processForm = function(isValid){
            console.log(isValid);
            if (!isValid){
                alert("参数错误");
                return;
            }
            if($scope.formData.trainingfiledid!=undefined&&$scope.formData.trainingfiledid!="")
            {
                if(!savedata()){
                    return;
                }
                $http.post("/admin/manage/updatetrainingfield",$scope.formData)
                        .success(function(response){
                            if (response.type==0){
                                alert(response.msg);
                            }else{
                                alert("修改成功");
                                //window.location.href="/admin/manage/schoollsit";
                            }
                        })
            }else {
                if(!savedata()){
                    return;
                }
                $http.post("/admin/manage/savetrainingfield",$scope.formData)
                        .success(function(response){
                            if (response.type==0){
                                alert(response.msg);
                            }else{
                                alert("添加成功");
                                //window.location.href="/admin/manage/schoollsit";
                            }
                        })
            }

        };

        var savedata=function(){
            $scope.formData.logoimg=$("#logimg").val();
            $scope.formData.province=$("#province").val();
            $scope.formData.city=$("#city").val();
            $scope.formData.address=$("#address").val();
            $scope.formData.latitude=$("#latitude").val();
            $scope.formData.longitude=$("#longitude").val();
            $scope.formData.is_validation=$("#is_validation").val();
            $scope.formData.fieldlevel=$("#fieldlevel").val();
            $scope.formData.schoolid="<%=schoolid%>";
            return true;
        }
    });



</script>
