<div class="main" ng-controller="addCarRoute">

    <div class="main-inner">

        <div class="container">

            <div class="row">

                <div class="span12">

                    <div class="widget ">

                        <div class="widget-header">
                            <i class="icon-th-large"></i>

                            <h3>添加班车路线</h3>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content">
                            <div class="tabbable">
                                <br>

                                <div class="tab-pane" id="formcontrols">
                                    <form id="edit-profile" class="form-horizontal" name="myForm"
                                          ng-submit="processForm(myForm.$valid)" novalidate>
                                        <fieldset>
                                            <div class="control-group">
                                                <label class="control-label" for="routename">路线名称</label>

                                                <div class="controls">
                                                    <input type="text" class="span6 " name="routename" id="routename"
                                                           placeholder="名称最多三十个字"
                                                           ng-minlength="3" ng-maxlength="30"
                                                           ng-model="formData.routename" required>

                                                    <div class="alert alert-danger span4"
                                                         ng-show="myForm.routename.$dirty && myForm.routename.$invalid && !myForm.routename.$pristine"
                                                         role="alert">3-30个非特殊字符
                                                    </div>
                                                </div>
                                                <!-- /controls -->
                                            </div>

                                            <div class="control-group">
                                                <label class="control-label" for="routecontent">详细路线</label>

                                                <div class="controls">
                                                    <textarea class="span4" id="routecontent" rows="3"
                                                              ng-model="formData.routecontent"
                                                              placeholder="详细路线"></textarea>
                                                </div>
                                                <!-- /controls -->
                                            </div>
                                            <!-- /control-group -->


                                            <div class="control-group" style="height: 250px;width: 600px">
                                                <label class="control-label">地址选择</label>

                                                <div class="controls">
                                                    <div id="allmap" class="span6"
                                                         style="width:600px;height:250px;border:1px solid #000"></div>
                                                </div>
                                            </div>


                                            <div class="control-group">
                                                <label class="control-label" for="linkman1">发车时间</label>

                                                <div class="controls">
                                                    <select class="span2" id="begintime" ng-model="formData.begintime">
                                                        <option value="5">5:00</option>
                                                        <option value="6">6:00</option>
                                                        <option value="7">7:00</option>
                                                        <option value="8">8:00</option>
                                                        <option value="9">9:00</option>
                                                    </select>
                                                    &nbsp;&nbsp;到&nbsp;
                                                    <select class="span2" id="endtime" ng-model="formData.endtime">
                                                        <option value="17">17:00</option>
                                                        <option value="18">18:00</option>
                                                        <option value="19">19:00</option>
                                                        <option value="20">20:00</option>
                                                        <option value="21">21:00</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <!-- /control-group -->


                                            <div class="form-actions">
                                                <button type="submit" class="btn btn-primary"
                                                        ng-disabled="myForm.$invalid">提交
                                                </button>
                                                <button class="btn">取消</button>
                                            </div>
                                            <!-- /form-actions -->
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- /widget-content -->

                    </div>
                    <!-- /widget -->

                </div>
                <!-- /span8 -->
            </div>
            <!-- /row -->

        </div>
        <!-- /container -->

    </div>
    <!-- /main-inner -->


</div> <!-- /main -->
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=201bccec2ea05baf5cf275aca9901cc0"></script>
<script src="/js/baidumap.js"></script>
<script type="text/javascript" src="/js/plupload/plupload.full.min.js"></script>
<script type="text/javascript" src="/js/plupload/i18n/zh_CN.js"></script>
<script type="text/javascript" src="/js/qiniu.js"></script>
<script type="text/javascript" src="/js/qiniuupfile.js"></script>
<script type="application/javascript">
    ybxcApp.controller("addCarRoute", function ($scope, $http) {
        $scope.formData = {};
        var car_route_id = GetQueryString("car_route_id");
        if (car_route_id != null && car_route_id.toString().length > 1) {
            $http.get("getBusRouteById?car_route_id=" + car_route_id)
                    .success(function (response) {
                        if (response.type == 0) {
                            alert(response.msg);
                        } else {
                            $scope.formData = response.data;
                            console.log(response.data);
                            $("routename").var($scope.formData.routename);
                            $("routecontent").var($scope.formData.routecontent);
                            $("begintime").var($scope.formData.begintime);
                            $("endtime").var($scope.formData.endtime);
                        }


                    })
        } else {
            //默认参数设置
        }

        $scope.processForm = function (isValid) {
            console.log(isValid);
            if (!isValid) {
                alert("参数错误");
                return;
            }
            if ($scope.formData.car_route_id != undefined && $scope.formData.car_route_id != "") {
                if (!savedata()) {
                    return;
                }
                $http.post("/admin/manage/updateBusRouteId", $scope.formData)
                        .success(function (response) {
                            if (response.type == 0) {
                                alert(response.msg);
                            } else {
                                alert("修改成功");
                                //window.location.href="/admin/manage/schoollsit";
                            }
                        })
            } else {
                if (!savedata()) {
                    return;
                }
                $http.post("/admin/manage/saveBusRoute", $scope.formData)
                        .success(function (response) {
                            if (response.type == 0) {
                                alert(response.msg);
                            } else {
                                alert("添加成功");
                                //window.location.href="/admin/manage/schoollsit";
                            }
                        })
            }

        };

        var savedata = function () {
            $scope.formData.routename = $("#routename").val();
            $scope.formData.routecontent = $("routecontent").val();
            $scope.formData.begintime = $("begintime").val();
            $scope.formData.endtime = $("endtime").val();
            $scope.formData.schoolid = "<%=schoolid%>";
            return true;
        }
    });


    //手写定位地图
    $("#address").on("blur", function () {
        setaddress(this.value || "");
    });

</script>
