<div class="main" ng-controller="orderlist">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="widget-header">
                        <i class="icon-th-large"></i>
                        <h3>订单列表</h3>
                        <div style="float: right ; padding-right: 10px" >
                            <div style="float: left;  padding-right: 10px;padding-top:4px ">
                               <input type="date" class="span2" id="begindate" placeholder="开始日期"
                                      ng-model="formData.begindate" onclick="laydate()">
                                <input type="date" class="span2" id="enddate" placeholder="结束日期"
                                       ng-model="formData.enddate" onclick="laydate()">
                                <select class="span1" id="reservationstate"  ng-model="formData.reservationstate"  >
                                    <option value=0 >状态</option>
                                    <option value=1>新订单</option>
                                    <option value=2>已取消</option>
                                    <option value=3>已确认</option>
                                    <option value=6>待评价</option>
                                    <option value=7>已完成</option>
                                    <option value=9>已签到</option>
                                    <option value=10>未签到</option>
                                </select>
                                <select class="span2" id="searchtype"  ng-model="formData.searchtype"   >
                                    <option value=0 >--条件--</option>
                                    <option value=1>学员姓名</option>
                                    <option value=2>教练姓名</option>
                                    <option value=3>学员手机号</option>
                                </select>
                                <input type="text" name="searchKey" id="searchInput" class="span2 pull-right"
                                       placeholder="查询内容" ng-model="formData.searchKey" />
                                <a class="btn btn-sm btn-default"  type="button" ng-click="searchinfo()">查询</a>
                            </div>
                        </div>

                    </div> <!-- /widget-header -->
                    <div class="widget-content">
                        <div class="box">
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-hover">
                                    <tr>
                                        <th> 单号 </th>
                                        <th> 学员</th>
                                        <th> 学员手机号</th>
                                        <th> 教练 </th>
                                        <th> 科目</th>
                                        <th> 创建时间</th>
                                        <th> 上课日期</th>
                                        <th> 上课时间</th>
                                        <th> 状态</th>
                                        <th class="td-actions"> 操作</th>
                                    </tr>
                                    <tr class="datalist" ng-repeat="content in data">

                                        <td >
                                            <a href="/admin/manage/orderdetial?orderid={{content._id}}" >
                                                <span>{{content._id}}</span> </a>
                                        </td>
                                        <td >
                                            <span>{{content.userid.name}}</span>
                                        </td>
                                        <td >
                                            <span>{{content.userid.mobile}}</span>
                                        </td>
                                        <td >
                                            <span>{{content.coachid.name}}</span>
                                        </td>
                                        <td >
                                            <span>{{content.subject.name}}</span>
                                        </td>
                                        <td >
                                            <span>{{content.reservationcreatetime |date:'yyyy-MM-dd HH:mm:ss'}}</span>
                                        </td>
                                        <td >
                                            <span>{{content.begintime |date:'yyyy-MM-dd'}}</span>
                                        </td>
                                        <td >
                                            <span>{{content.begintime |date:' HH:00'}}--{{content.endtime |date:' HH:00'}}</span>
                                        </td>
                                        <td >
                                            <span  ng-switch="content.reservationstate">
                                             <div ng-switch-when=1>
                                                预约中
                                             </div>
                                                <div ng-switch-when=2>
                                                    学员取消
                                                </div>
                                                <div ng-switch-when=3>
                                                    已接受
                                                </div>
                                                 <div ng-switch-when=4>
                                                     教练拒绝
                                                 </div>
                                                 <div ng-switch-when=5>
                                                     待确认学完
                                                 </div>
                                                <div ng-switch-when=6>
                                                    待评价
                                                </div>
                                                 <div ng-switch-when=8>
                                                     系统取消
                                                 </div>
                                                 <div ng-switch-when=7>
                                                     已完成
                                                 </div>
                                                 <div ng-switch-when=9>
                                                     已签到
                                                 </div>
                                                <div ng-switch-when=10>
                                                    未签到
                                                </div>
                                            </span>
                                        </td>

                                        <td class="td-actions">
                                            <a href="#" ng-disabled="content.reservationstate>3"
                                               ng-click="content.reservationstate>3 ||
                                               cancelreservation(content._id , content.userid.name)"
                                               class="btn btn-small btn-success"  >取消 </a>
                                        </td>


                                    </tr>
                                </table>
                            </div><!-- /.box-body -->

                        </div><!-- /.box -->
                        <% include ../public/tableFooter %>
                    </div>

                </div>
            </div>

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /main-inner -->
</div>

<script type="text/javascript" src="/js/laydate.js"></script>
<script>
    ybxcApp.controller("orderlist",function($scope,$http){
        $scope.cancelreservation=function(reservationid,name){
            $scope.reservationdata={};
            for (i=0;i<$scope.data.length;i++){
                if ($scope.data[i]._id==reservationid){
                    $scope.reservationdata=$scope.data[i];
                    break;
                }
            };
            if ($scope.reservationdata._id===undefined){
                layer.msg("没有查到此订单", {
                    icon: 2,
                    time: 5000 //2秒关闭（如果不配置，默认是3秒）
                });
                return;
            };
            layer.confirm('你确定要取消 '+reservationid+' 订单吗？', {
                btn: ['确认','返回'] //按钮
            }, function(){
                $http.post("/admin/manage/cancelReservation",{
                    userid:$scope.reservationdata.userid._id,
                    reservationid:$scope.reservationdata._id,
                }) .success(function(response){
                    if (response.type==0){
                        layer.msg(response.msg, {
                            icon: 2,
                            time: 5000 //2秒关闭（如果不配置，默认是3秒）
                        });
                    }else{
                        layer.msg("取消预约成功", {
                            icon: 1,
                            time: 5000 //2秒关闭（如果不配置，默认是3秒）
                        });
                        $scope.searchinfo();
                    }
                })
            }, function(){
                return;
            });

        }
        getsearchinfo=function(){
            var searchinfo="";
            for (var o in $scope.formData){
                searchinfo= searchinfo+o+"="+ $scope.formData[o]+"&";
            }
            searchinfo= searchinfo+"begindates="+ Math.round($scope.formData.begindate.getTime()/1000)+"&";
            searchinfo= searchinfo+"enddates="+   Math.round($scope.formData.enddate.getTime()/1000)+"&";
            return searchinfo;
        }
        $scope.formData = {reservationstate:"0"};
        //$scope.formData.=0;
        $scope.formData.searchtype="0";
        $scope.formData.begindate=(new Date());
        $scope.formData.enddate=(new Date());
        //获取文档列表信息
        searchinfo=getsearchinfo();
        initPagination($scope,$http,"<%=searchKey%>","/admin/manage/getorderlist?"+searchinfo+"schoolid=<%=schoolid%>");

        $scope.searchinfo=function(){
            $scope.formData.begindate=new Date( $("#begindate").val());
            $scope.formData.enddate=new Date($("#enddate").val());
            searchinfo=getsearchinfo();
            //console.log(searchinfo);
            initPagination($scope,$http,"<%=searchKey%>","/admin/manage/getorderlist?"+searchinfo+"schoolid=<%=schoolid%>");
        }
    });



</script>