<style>
    #mytable td,#mytable th{
        text-align: center;
    }
</style>
<div class="main" ng-controller="reservecoachlist">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="widget-header">
                        <i class="icon-th-large"></i>
                        <h3>学员预约教练</h3>
                        <div style="float: right ; padding-right: 10px" >
                            预约日期：
                            <input type="date" class="span2" id="coursedata" placeholder="开始日期"
                                   ng-model="coursedata" onclick="laydate()">
                        </div>

                    </div> <!-- /widget-header -->
                    <div class="widget-content">
                        <table class="table table-hover" id="mytable">
                            <tr  class="datalist"   ng-repeat="content in CoachList"  ng-click="changeBg()" >
                                <td ng-repeat="coach in content"  >
                                   <a class="btn btn-sm btn-default"
                                      type="button" ng-click="getcoursebycoach(coach.coachid)" > {{coach.name}}
                                   </a>
                                </td>
                            </tr>
                        </table>
                        <div class="box">
                            <div class="box-body table-responsive no-padding">
                                <form id="reserve-coach"  name="myForm" ng-submit="processForm(myForm.$valid)"  novalidate>
                                    <fieldset>
                                        <table class="table table-hover" id="mytable">
                                            <tr>
                                                <th> 姓名 </th>
                                                <th>课程日期</th>
                                                <th>课程时间</th>
                                                <th>人数</th>
                                                <th class="td-actions"> 预约</th>
                                            </tr>
                                            <tr ng-repeat="content in data"  >

                                                <th style="font-weight: normal;" >
                                                    <span ng-model="name" >{{content.coachname}}</span>
                                                </th>
                                                <td >
                                                    <span>{{content.coursebegintime |date:'yyyy-MM-dd'}}</span>
                                                </td>
                                                <td>
                                                    <span>{{content.coursebegintime |date:'HH:00'}}/
                                                    {{content.courseendtime |date:'HH:00'}}</span>
                                                </td>

                                                <td>
                                                    <span>{{content.selectedstudentcount}}/{{content.coursestudentcount}}</span>
                                                </td>

                                                <th class="td-actions">
                                                    <a class="btn btn-sm btn-default"
                                                       type="button"
                                                       ng-show="content.courseuser.indexOf(studentid)==-1&&
                                                     content.selectedstudentcount !=content.coursestudentcount "
                                                       ng-click="ChooseCoures(content._id)">
                                                        <h6 ng-show="courseischoose(content._id)">
                                                            取消选择
                                                        </h6>
                                                     <h6 ng-show="!courseischoose(content._id)">
                                                            选择
                                                        </h6>

                                                    </a>
                                                    <a
                                                       ng-show="content.courseuser.indexOf(studentid)>-1">
                                                        <h6> 已预约</h6>
                                                    </a>
                                                    <a
                                                       ng-show="content.selectedstudentcount ==content.coursestudentcount">
                                                        <h6> 已约满 </h6>
                                                    </a>

                                                </th>

                                            </tr>
                                        </table>
                                        <button type="submit" class="btn btn-primary" ng-disabled="choosecourse.length<=0">提交</button>
                                    </fieldset>
                                </form>

                            </div><!-- /.box-body -->

                        </div><!-- /.box -->
                    </div>

                </div>
            </div>

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /main-inner -->
</div>

<script type="text/javascript" src="/js/laydate.js"></script>
<script>
    ybxcApp.controller("reservecoachlist",function($scope,$http){
        $scope.formData = {};
        $scope.CoachList = {};
        $scope.choosecourse = [];
        $scope.studentid="";
        $scope.coursedata=new Date();
       // var num=0;
        //获取文档列表信息
        //initPagination($scope,$http,"<%=searchKey%>","/manage/getCoachlist?schoolid=<%=schoolid%>");
        var studentid=GetQueryString("studentid");
        $scope.studentid=studentid;
        $http.get("/admin/manage/getUsefulCoachList?studentid="+studentid).success(function(result){
            if(result.type==1){
                $scope.CoachList= result.data;
                initCoachlist();
            }
            else if (result.type==0){
                layer.msg(result.msg, {
                    icon: 2,
                    time: 5000 //2秒关闭（如果不配置，默认是3秒）
                });
            }
        })
        var initCoachlist=function(){
            var  colcount =10;
            var rowcount=Math.ceil($scope.CoachList.length/colcount);// 向上整出
            var tArray = new Array();
            for(var k=0;k<rowcount;k++){
                tArray[k]=new Array();
                for (var i=0;i<colcount;i++){
                    if((k*colcount +i+1)>=$scope.CoachList.length){
                        break;
                    }
                    tArray[k][i]=$scope.CoachList[(k*colcount)+i];
                }
            }
            $scope.CoachList=tArray;

            }
        $scope.getcoursebycoach=function(coachid){
            $scope.choosecourse=[];
            $scope.data={};
            var timespan=parseInt(new Date($("#coursedata").val()).getTime()/1000);
            $http.get("/admin/manage/getcoursebycoach?coachid="+coachid+"&date="+timespan).success(function(result){
                if(result.type==1){
                    $scope.data= result.data;
                    console.log($scope.data);
                }
                else if (result.type==0){
                    layer.msg(result.msg, {
                        icon: 2,
                        time: 2000 //2秒关闭（如果不配置，默认是3秒）
                    });
                }
            })
        }
        $scope.courseischoose=function(courseid){
            if ($scope.choosecourse.indexOf(courseid)>-1){
                return true;
            }
            else {
                return false;
            }
        }
        $scope.ChooseCoures=function(courseid){
            if($scope.choosecourse.length>3){
                return;
            }
            var  index=$scope.choosecourse.indexOf(courseid);

            if (index>-1){
                $scope.choosecourse.splice(index, 1);
            }
            else {
                $scope.choosecourse.push(courseid);
            }
        }

        //提交预约
        $scope.processForm = function(isValid){
            //如果没有选择任何的时间段
            if (!isValid){
                alert("没有输入任何的时间");
                return;
            }
            if(true)
            {
                if(!savedata()){
                    layer.msg("获取信息出错", {
                        icon: 2,
                        time: 5000 //2秒关闭（如果不配置，默认是3秒）
                    });
                    return;
                }
                console.log($scope.formData);
                $http.post("/admin/manage/postReservation",$scope.formData)
                    .success(function(response){
                        if (response.type==0){
                            layer.msg(response.msg, {
                                icon: 2,
                                time: 2000 //2秒关闭（如果不配置，默认是3秒）
                            });
                           return;
                        }else{
                            layer.msg("预约成功", {
                                icon: 1,
                                time: 2000 //2秒关闭（如果不配置，默认是3秒）
                            });
                            $scope.getcoursebycoach($scope.formData.coachid);
                        }
                    })

            }

        };

        //保存预约
        var savedata=function(){
            $scope.formData={};
            if ( $scope.choosecourse.length<=0){
                return false;
            }
            var choosecoursedata=[];
            for(var i=0;i<$scope.choosecourse.length;i++){
                for(var j=0;j<$scope.data.length;j++){
                    if ($scope.data[j]._id==$scope.choosecourse[i]){
                        choosecoursedata.push($scope.data[j]);
                        break;
                    }
                }
            }
            if (choosecoursedata.length!=$scope.choosecourse.length){
                return false;
            }
            // 排序
            choosecoursedata.sort(function(a,b)
            {return a.coursebegintime> b.coursebegintime?1:-1});
            //判断是否连续
            for(var i=0;i<choosecoursedata.length-1;i++){
                if(choosecoursedata[i].coursetime.timeid+1!=choosecoursedata[i+1].coursetime.timeid){
                    return false;
                }
            }
            $scope.formData.userid=$scope.studentid;
            $scope.formData.coachid=choosecoursedata[0].coachid;
            $scope.formData.address="";
            $scope.formData.begintime=choosecoursedata[0].coursebegintime;
            $scope.formData.endtime=choosecoursedata[choosecoursedata.length-1].courseendtime;
            $scope.formData.courselist=$scope.choosecourse.join(",");
            //console.log($scope.formData);
            return true;
        }


        //改变颜色
        $scope.changeBg=function(){


            $('.datalist td').toggle(function(){

                $(this) .css('background-color','#00BA8B');//点击的设置为绿色
                $('.datalist td').not(this).css('background-color','');//其他的全部设置为无色

            },function(){
                $(this).css('background-color','');

            });

        }

    });



</script>
